<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function deleteArtigo(id) {
    if (confirm('Tem certeza que deseja deletar este artigo?')) {
        $.ajax({
            url: '/artigoDelete/' + id,
            type: 'DELETE',
            success: function(result) {
                window.location.reload(true);
            }
        });
    }
}
</script>
<table border="1px">
    <tr>
        <td>Titulo</td>
        <td>Resumo</td>
        <td>Link</td>
        <td>Autores</td>
        <td>Ações</td>
    </tr>
    {{#each artigos}}
    <tr>
        <td>{{titulo}}</td>
        <td>{{resumo}}</td>
        <td>{{linkPDF}}</td>
        <td>
            {{#each usuarios}}
                {{nome}}<br>
            {{/each}}
        </td>
        <td>
            <a href="/artigoEdit/{{id}}">Editar</a> |
            <a href="#" onclick="deleteArtigo({{id}}); return false;">Deletar</a> |
            <a href="/atribuirAvaliador/{{id}}">Atribuir Avaliador</a> |
            <a href="/avaliar/{{id}}">Avaliar</a>
        </td>
    </tr>
    {{/each}}
</table>
