<form action="/atribuirAvaliador/{{artigoId}}" method="post">
    <h2>Atribuir Avaliadores</h2>
    {{#each avaliadores}}
        <input type="checkbox" id="{{this.id}}" name="avaliadorId" value="{{this.id}}">
        <label for="{{this.id}}">{{this.nome}}</label><br>
    {{/each}}
    <input type="submit" value="Atribuir Avaliadores">
</form>